.fest__pageA{
    

    background-color:rgba(247, 146, 27, 1) ;
}

@media only screen and (max-width: 430px){
    .fest__page{
        background-color: rgba(247, 146, 27, 1);
        width: 100vw;
        
    }

}

